@{
    ViewData["Title"] = "Home";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        
    </style>
</head>

<body>
    <section class="hero bg-dark text-white text-center py-5 mt-1">
        <div class="container">
            <h1 class="display-4">Welcome to LeagueQuiz</h1>
            <p class="lead">Test your League of Legends knowledge with our fun quizzes</p>
            <a href="#" class="btn btn-primary btn-lg">Start Quiz</a>
        </div>
    </section>

    <!-- Features Section -->
    <section class="features py-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="card">
                        <img src="img/quizzes/AbilityQuiz.png" class="card-img-top" alt="Ability Quiz">
                        <div class="card-body">
                            <h5 class="card-title">Ability Quiz</h5>
                            <p class="card-text">Guess the champion who has the given ability.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card">
                        <img src="img/quizzes/AbilityQuiz.png" class="card-img-top" alt="Ability Quiz">
                        <div class="card-body">
                            <h5 class="card-title">Ability Quiz</h5>
                            <p class="card-text">Guess the champion who has the given ability.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card">
                        <img src="img/quizzes/AbilityQuiz.png" class="card-img-top" alt="Ability Quiz">
                        <div class="card-body">
                            <h5 class="card-title">Ability Quiz</h5>
                            <p class="card-text">Guess the champion who has the given ability.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



</body>

</html>
