html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: darkgrey;
}


/* Handle */
::-webkit-scrollbar-thumb {
    background: purple;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: darkblue;
    }